body{
    background-color: rgb(44, 41, 41);
}
h1{
    color:  rgb(84, 219, 174);
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Lobster', cursive;
    margin: 50px auto;
}
.img{
    display: flex;
    justify-content: space-around;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(84, 219, 174);
    font-family: 'Neucha', cursive;
    margin: 5px;
}
.box img{
    width: 100%;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.btn button{
    width: 20%;
    padding: 5px 0;
    font-size: 1.2rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
}
.btn button:hover{
    background-color: rgb(71, 71, 69);
    color: white;
}
.footer h3{
    text-align: center;
    color: yellowgreen;
    margin-top: 60px;
    font-family: 'Tapestry', cursive;
}

@media screen and (max-width:600px){
    h1{
        font-size: 2rem;
        margin: 30px auto;
    }
    .btn button{
        width: 30%;
        font-size: 1rem;
    }
    .footer h3{
        margin-top: 40px;
    }
}
